#infographics-section{
	text-align: center;
	position: relative;
	top: 15vh;
}

#infographics-section img{
	width: 60vw;
	margin-bottom: 10%; 
}

#infographics-section h1{
	margin: 5% 0;
}

@media screen and (max-width: 1080){
	#infographics-section h1{
		font-size: 1.5em;
	}

}

